# Objects and Data Structures Assessment Test

## Test your knowledge. 

**Answer the following questions**

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: can be integer or float

Strings:any value between quotes or two quotes

Lists: squence of values of any type numbers, strings,mix or even lists (in that case will be called Matrix), created using square brackets '[]'. List is editable(append and remove can be applied).

Tuples: Sequence of values of any type numbers, strings, or mix, created using round brackets().Tuples are immutable which means can not be edited (values can not be changed).

Dictionaries:Sequence of elements consists of key and value. The value can be number, string,list, or dictionary. They are created using curl brackets {}. Dictionaries are editable, objects can be updated, deleted, and inserted.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [41]:
5**4*2/5-150+0.25

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 44
    
    What is the value of the expression 4 * 6 + 5 = 29
    
    What is the value of the expression 4 + 6 * 5 = 34

In [1]:
4 * (6 + 5)

44

In [2]:
4 * 6 + 5

29

In [3]:
4 + 6 * 5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>= 8.5

In [4]:
3 + 1.5 + 4

8.5

What would you use to find a numberâ€™s square root, as well as its square?

In [6]:
# Square root: use **0.5
#Example:
4**0.5

2.0

In [5]:
# Square: use **2
#Example:
2**2

4

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [8]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [9]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [12]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4]

'o'

In [13]:
# Method 2:

s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [22]:
# Method 1:
s1=[0,0,0]
s1

[0, 0, 0]

In [23]:
# Method 2:
s2=[]
s2.append(0)
s2.append(0)
s2.append(0)
s2

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [24]:
list3 = [1,2,[3,4,'hello']]
list3[2][2]='goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [26]:
list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [42]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [43]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [49]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [59]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>
Keys order, can be sorted and values as well but not the whole dictionary. I believe because each element of the dictionary is indexed through key, and value is flexible in type, meaning it can be number, string , list , or even a dictionary. So, there will be no base for sorting different types of values.

## Tuples

What is the major difference between tuples and lists?<br><br>
lists are mutable while tuples are not

How do you create a tuple?<br><br>
using round brackets and assign value
example: t=(2,4,6,8)

## Sets

What is unique about a set?<br><br> 
set is created with unique, non-repeated values

Use a set to find the unique values of the list below:

In [60]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
s = set(list5)
s

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [28]:
# Answer before running cell = false
2 > 3

False

In [29]:
# Answer before running cell = false
3 <= 2

False

In [30]:
# Answer before running cell = false
3 == 2.0

False

In [31]:
# Answer before running cell = true
3.0 == 3

True

In [32]:
# Answer before running cell = false
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [33]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False? = false
l_one[2][0] >= l_two[2]['k1']

False

# Great Work!